@font-face {
  font-family: "Poppins-Regular";
  src: local("AssistantRegular"),
    // url("../../../assets/images/fontfamily/Poppins-Regular.ttf")
    format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Poppins-SemiBold";
  src: local("AssistantRegular"),
    // url("../../../assets/images/fontfamily/Poppins-SemiBold.ttf")
    format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Poppins-Bold";
  src: local("AssistantRegular");
  // url("../../../assets/images/fontfamily/Poppins-Bold.ttf") format("truetype");
  // font-weight: normal;
}
